*{
    margin: 0px;
    padding: 0px;
}



.cabecalho{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}

.imagem-cabecalho{
    width: 25%;
}
.cabecalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#c4ffc4,  #6dc4da);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo{
    
}